<div class="jumbotron">
	<h3 ng-bind="app"></h3><br />

	<ui-accordions>
		<ui-accordion title="Accordion 01">
			Teste Teste Accordion 01. Teste Teste Accordion 01. Teste Teste Accordion 01. Teste Teste Accordion 01.
		</ui-accordion>

		<ui-accordion title="Accordion 02">
			Teste Teste Accordion 02 02; Teste Teste Accordion 02 02; Teste Teste Accordion 02 02; 
		</ui-accordion>
	</ui-accordions>

	<div ui-alert title="Ops, ocorreu um erro!" ng-if="error" message="error">
		Falha na comunicação com a API.
	</div>

	<div class="lista">
		<input type="text" ng-model="criterioBusca" placeholder="Digite a busca..." class="form-control" />
	</div>

	<div class="lista">
		<table ng-show="contatos.length > 0" class="table">
			<tr>
				<th></th>
				<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
				<th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
				<th>Operadora</th>
				<th>Data</th>
				<th></th>
			</tr>
			<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter: criterioBusca | orderBy: criterioOrdenacao: direcaoOrdenacao">
				<td><input type="checkbox" ng-model="contato.selecionado" />
				<td>{{contato.nome | name | ellipsis:12}}</td>
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadora_id}}</td>
				<td>{{contato.data | date:'dd/MM/yyyy HH:mm'}}</td>
				<td><div class="square" ng-style="{'background-color': contato.cor}"></div></td>
			</tr>
		</table>
	</div>
	<div class="lista">
		
		<!-- Alertas dos filtros -->
		<div class="alert alert-danger" ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty">Por favor, preencha o nome.</div>
		<div class="alert alert-danger" ng-show="contatoForm.nome.$error.minlength">O campo nome deve ter no mínimo 8 caracteres.</div>

		<div class="alert alert-danger" ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty">Por favor, preencha o telefone.</div>
		<div class="alert alert-danger" ng-show="contatoForm.telefone.$error.maxlength">O campo telefone deve ter no máximo 10 dígitos.</div>
		<div class="alert alert-danger" ng-show="contatoForm.telefone.$error.pattern">O campo telefone deve o seguinte formato DDDDD-DDDD</div>

		<a href="#/novoContato" class="btn btn-primary btn-block">Novo Contato</a>

		<button ng-click="apagarContato(contatos)" class="btn btn-danger btn-block" ng-show="isContatoSelecionado(contatos)">Apagar Contato</button>

	</div>
</div>