<!-- Formulário de cadastro -->
<div class="jumbotron">
	<form name="contatoForm">
		<input type="text" class="form-control" placeholder="Nome" name="nome" ng-model="contato.nome" ng-required="true" ng-minlength="8"/>

		<input type="text" class="form-control" placeholder="Telefone" name="telefone" ng-model="contato.telefone" ng-required="true" ng-maxlength="10" ng-pattern="/^\d{4,5}-\d{4}$/" />

		<input type="text" ng-model="contato.data" name="data" ui-date placeholder="Data" class="form-control" />

		<select ng-model="contato.operadora_id" class="form-control" ng-options="operadora.id as operadora.nome for operadora in operadoras">
			<option value="">Selecione uma operadora</option>
		</select>
	</form>

	<button ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid" class="btn btn-primary btn-block">Adicionar Contato</button>
</div>